* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* border: 2px solid red; */
  height: 100vh;
  background-color: #001f36;
  display: flex;
  flex-direction: column;

}



.nav-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.185);
  position: fixed;
  width: 99vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 100px;
  color: #fff;
  /* margin-top: %; */
  z-index: 99999;
  backdrop-filter: blur(25px);
}

.menu-nav {
  color: white;
  display: flex;
  gap: 30px;
}

.menu-nav a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s ease;
}

.menu-um {
  display: flex;
  gap: 30px;
  list-style-type: circle;
}

.menu-dois {
  display: flex;
  gap: 30px;
  list-style-type: circle;
}

.menu-um a {
  /* border: 1px solid red; */
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.menu-dois a {
  /* border: 1px solid red; */
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.logo {
  width: 9vw;
}

.pai {
  display: flex;
  width: 1520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px 10px;
  margin-top: 7%;
}

.sessao {
  border-bottom: 1px solid rgba(0, 255, 255, 0.308);
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  gap: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
  margin-top: 0;
}



.cards {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 80%;
  gap: 40px;
  overflow: auto;
  padding: 0px 5px;
  margin-top: 1%;
}
.card {
  width: 340px;
  height: 480px;
  cursor: pointer;
}

.capas {
  width: 350px;
  height: 485px;
  border-radius: 20px;
  transition: 0.2s ease;
}

#capa-ux {
  background-size: cover;
  background-position: right;
}

.capas:hover {
  /* transform: scale(1.1); */
  filter: blur(10px);
}

a:hover {
  background-image: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) -25%,
    rgba(23, 168, 198, 1) 42%,
    rgba(0, 212, 255, 1) 100%
  );

  -webkit-background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  padding: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.116);
  border-radius: 10px;
  height: 5px;
}

/*Modal*/

.back {
  background-color: #001f36;
  border: 2px solid green;
  width: 30vw;
  height: 80vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.modal-filme {
  position: absolute;
  border: 2px solid red;
  background-color: #001f364d;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal-filme img {
  width: 100%;
  margin-top: 0;
}

#modal-filme.hide,
#back.hide {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1440px) {
  .nav-bar{
    display: flex;
    padding: 20px;
    gap: 55px;
  }

  .pai {
    width: 100%;
    /* height: 100%; */
    margin-top: 8%;
    padding: 0% 10%;
  }

  .designer {
    text-align: center;
    padding: 30px;
  }

  .cards{
    height: 80vh;
    padding: 1% 2%;
    overflow-y: hidden;
    margin-bottom: 5%;
  }

  .capas{
    height: 50vh;
    width: 24vw;
    margin-top: 10%;
  }

  .tecnologia {
    text-align: center;
    padding: 30px;
  }
}

@media (max-width: 768px){

  .pai{
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .sessao{
    width: 90vw;
  }

  .capas{
    width: 38vw;
  }

}

@media (max-width: 425px) {

  .menu-um, .menu-dois {
    display: none;
  }


  .logo {
    width: 30vw;
  }

  h1 {
    font-size: 25px;
  }

  .pai {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18%;
  }

  .sessao {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 8px;
  }


  .cards {
    margin-top: -10px;
    /* padding: 10px 2px; */
    height: 58vh;
    gap: 20px;
  }

  .capas {
    margin-top: 3% ;
    width: 68vw;
    height: 55vh;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }
}
